<main class="fixed flex flex-col h-full w-full">
  <section class="z-50">
    <nav class="">
      <div class="flex justify-between h-16 px-2 sm:px-10 items-center">
        <div class="flex items-center space-x-8">
          <div
            class="text-xl lg:text-2xl font-bold cursor-pointer flex justify-center items-center"
          >
        <span class="h-auto w-auto">
          <app-logo></app-logo>
        </span>
            <span>bgrfacile</span>
          </div>
          <div class="hidden md:flex justify-around space-x-4">
            <a
              [routerLink]="['']"
              class="hover:text-indigo-600 text-gray-700 flex justify-center items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block h-8 w-auto mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="2"
                  d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                />
              </svg>
              <span>Accueil</span>
            </a>
            <a
              [routerLink]="['']"
              class="hover:text-indigo-600 text-gray-700 flex justify-center items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block h-8 w-auto mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4.871 4A17.926 17.926 0 003 12c0 2.874.673 5.59 1.871 8m14.13 0a17.926 17.926 0 001.87-8c0-2.874-.673-5.59-1.87-8M9 9h1.246a1 1 0 01.961.725l1.586 5.55a1 1 0 00.961.725H15m1-7h-.08a2 2 0 00-1.519.698L9.6 15.302A2 2 0 018.08 16H8"
                />
              </svg>
              <span>Nos écoles</span>
            </a>
            <a
              [routerLink]="['']"
              class="hover:text-indigo-600 text-gray-700 flex justify-center items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block h-8 w-auto mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M12 14l9-5-9-5-9 5 9 5z" />
                <path
                  d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                />
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="2"
                  d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                />
              </svg>
              <span>Prix</span>
            </a>
            <a
              [routerLink]="['bibliotheque']"
              class="hover:text-indigo-600 text-gray-700 flex justify-center items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="block h-8 w-auto mr-1"
                width="32"
                height="32"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 32 32"
              >
                <path
                  fill="currentColor"
                  d="M16 4L3 7v2l13-3l13 3V7zm-6 6c-3.227 0-6.375 1.313-6.375 1.313l-.625.28V27h11.281c.348.598.98 1 1.719 1c.738 0 1.371-.402 1.719-1H29V11.594l-.625-.281S25.227 10 22 10c-2.918 0-5.48.98-6 1.188C15.48 10.98 12.918 10 10 10zm0 2c1.934 0 4 .625 5 .969v11.125c-1.113-.367-2.941-.875-5-.875c-2.102 0-3.813.484-5 .875V12.969C5.77 12.69 7.8 12 10 12zm12 0c2.2 0 4.23.691 5 .969v11.125c-1.188-.39-2.898-.875-5-.875c-2.059 0-3.887.508-5 .875V12.969c1-.344 3.066-.969 5-.969z"
                ></path>
              </svg>
              <span>Bibliotheque</span>
            </a>
          </div>
        </div>
        <div class="flex space-x-4 items-center">
          <a
            [routerLink]="['login']" class="hidden sm:block text-gray-800 text-sm" *ngIf="!isLoggin">Connexion</a>
          <a
            [routerLink]="['register']"
            class="hidden sm:block bg-indigo-600 px-4 py-2 rounded text-white hover:bg-indigo-500 text-sm"
            *ngIf="!isLoggin">Inscription</a>
          <p-avatar image="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortCurly&accessoriesType=Round&hairColor=Red&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=GraphicShirt&clotheColor=Heather&graphicType=Skull&eyeType=Squint&eyebrowType=UpDown&mouthType=Disbelief&skinColor=Yellow"
                    styleClass="mr-2 cursor-pointer" shape="circle" (click)="menu.toggle($event)" *ngIf="isLoggin"></p-avatar>
        </div>
      </div>
    </nav>
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
  </section>
  <router-outlet></router-outlet>
</main>
