<section class="h-full w-full flex flex-col justify-center items-center">


  <form class="w-1/2 flex flex-col space-y-6 px-9 " [formGroup]="loginForm" (ngSubmit)="goToHome()">

    <p-messages></p-messages>

    <div class="flex flex-col space-y-2">
      <p class="w-full text-3xl font-bold text-left ">Connectez-vous à votre compte</p>
      <p>Vous n'avez pas de compte ? <a [routerLink]="['/register']" class="text-indigo-400">Inscrivez-vous ici</a></p>
    </div>

    <span class="w-full p-float-label p-input-icon-left p-input-icon-right ">
      <i class="pi pi-envelope"></i>
      <i class="pi pi-times-circle cursor-pointer" *ngIf="loginForm.value.email" (click)="onCleanEmailField()"></i>
      <input class="w-full" id="email" [ngClass]="getClass(email.touched && email.invalid )" type="email" pInputText formControlName="email">
      <label for="email">email</label>
    </span>
    <span class="p-float-label p-input-icon-left p-input-icon-right w-full">
      <i class="pi pi-lock"></i>
      <i class="pi pi-eye-slash cursor-pointer" *ngIf="hide" (click)="displayPassword()"></i>
      <i class="pi pi-eye cursor-pointer" *ngIf="!hide" (click)="displayPassword()"></i>
      <input class="w-full" id="password" [ngClass]="getClass(password.touched && password.invalid)" [type]="hide?'password':'text'" pInputText formControlName="password">
      <label for="password">password</label>
    </span>

    <div class="w-full flex flex-col space-y-2 sm:flex-row sm:justify-between items-center">
      <div class="field-checkbox">
        <p-checkbox [binary]="true" id="binary" formControlName="remember"></p-checkbox>
        <label for="binary" class="mx-2">se souvenir de moi</label>
      </div>

      <a class="cursor-pointer" [routerLink]="['']">Mot de passe oublié ?</a>
    </div>

    <button class="w-full mx-auto" pButton label="Se connecter"></button>

  </form>

</section>
