<div class="flex flex-col md:flex-row h-full w-full antialiased text-gray-900 bg-gray-100 overflow-hidden">
  <div *ngIf="courses.length==0"
       class="fixed inset-0 z-50 flex items-center justify-center text-2xl font-semibold text-black">
    Loading.....
  </div>

  <aside class="w-1/5 flex md:flex-col space-y-2 py-4 px-3 bg-white overflow-y-auto">
    <h3>Explorateur Cours</h3>
    <p-tree [value]="cycles" selectionMode="single" (onNodeExpand)="loadNode($event)" (onNodeSelect)="onItemSelect($event)"></p-tree>
  </aside>

  <main class="flex-1 p-1 overflow-y-auto flex flex-col space-y-3">

    <p-breadcrumb [model]="breadcrumb_items" [home]="home"  (onItemClick)="onBreadItemClick($event)" class="py-2"></p-breadcrumb>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 ">
      <div *ngFor="let matiere of matieres" class="field-checkbox">
          <p-radioButton [inputId]="matiere.slug!" name="matiere" (onClick)="onRadioItemSelected($event)" [value]="matiere" [(ngModel)]="selectedMatiere"></p-radioButton>
          <label [for]="matiere.slug!" class="mx-2">{{matiere.name}}</label>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 ">
      <app-card-course *ngFor="let course of courses  | paginate: { itemsPerPage: 9, currentPage: p }"
                       [course]="course"></app-card-course>

    </div>

    <div class="w-full flex justify-center items-center my-2" *ngIf="courses.length!=0">
      <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>
  </main>
</div>
